
@{
    ViewBag.Title = "个人简介";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*基本信息*@
<div class="title">
    <h2>基本信息</h2>
    <ul class="list_info">
        <li><i class="fa fa-address-book-o"></i>欧阳晓峰</li>
        <li><i class="fa fa-home"></i>福建-泉州</li>
        <li><i class="fa fa-phone"></i>178-0596-6552</li>
        <li><i class="fa fa-envelope-o"></i>17805966552@163.com</li>
    </ul>
</div>

@*与我有关*@
<div class="title">
    <h2>与我有关</h2>
    <ul class="list_info">
        <li><i class="fa fa-github"></i><a target="_blank" href="https://github.com/oyxf1996">GitHub</a> </li>
        <li><i class="fa fa-pencil"></i><a target="_blank" href="https://www.yuque.com/fengzhihen">语雀</a> </li>
    </ul>
</div>
@*教育背景*@
<div class="title">
    <h2>教育背景</h2>
    <table border="1" class="tb_1">
        <tr>
            <th>时间</th>
            <th>学校</th>
            <th>专业</th>
        </tr>
        <tr>
            <td><span>2014.9-2018.6</span></td>
            <td>福建农林大学</td>
            <td>计算机科学与技术</td>
        </tr>
    </table>
</div>
@*工作经历*@
<div class="title">
    <h2>工作经历</h2>
    <div style="width:100%;padding-left:8px;">
        <ul class="list_order">
            <li>
                <i class="fa fa-circle"></i>
                <table border="1" class="tb_2"><tr><td>2017.7 - 2018.9</td><td>福建弘扬软件股份有限公司</td><td>.net开发工程师</td></tr></table>
                <p>主要从事HIS系统的维护及二次开发，出差过两家医院现场配合实施人员做系统的上线验收。熟悉VisualStudio的tfs团队开发模式。</p>
                <p class="pBlock"></p>
            </li>
            <li>
                <i class="fa fa-circle"></i>
                <table border="1" class="tb_2"><tr><td colspan="3" class="blueFont">期待与你相遇。</td></tr></table>
            </li>
        </ul>
    </div>
</div>
@*个人技能*@
<div class="title">
    <h2>个人技能</h2>
    <div style="width:100%;">
        <p style="padding:6px; background-color:#dcdcdc;">1. 熟悉asp.net的WebForm和MVC两种开发模式，熟悉三层架构开发，熟悉ado.net以及EF访问数据库。</p>
        <p style="margin-top:4px;"></p>
        <p style="padding:6px; background-color:#dcdcdc;">2. 熟悉html、css、js、jQuery，能够实现兼容IE9及以上版本和一些主流浏览器，了解移动端的兼容。</p>
        <p style="margin-top:4px;"></p>
        <p style="padding:6px; background-color:#dcdcdc;">3. 熟悉sqlserver，能够书写多表查询sql、视图、存储过程、触发器等常用的数据库操作</p>
        <p style="margin-top:4px;"></p>
        <p style="padding:6px; background-color:#dcdcdc;">4. 熟悉git，能够使用TortoiseGit、github、码云等git工具及平台进行团队协作开发。</p>
        <p style="margin-top:4px;"></p>
        <p style="padding:6px; background-color:#dcdcdc;">5. 熟悉微信小程序，曾接过腾讯的微信小程序项目</p>
        <p style="margin-top:4px;"></p>
        <p style="padding:6px; background-color:#dcdcdc;">6. 能够独立搭建web网站并部署到服务器上</p>
        <p style="margin-top:4px;"></p>
    </div>
</div>
