
@{
    ViewBag.Title = "个人简介";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="title">
    <h2>基本信息</h2>
    <ul class="list_info">
        <li><i class="fa fa-address-book-o"></i>欧阳晓峰</li>
        <li><i class="fa fa-home"></i>福建-泉州</li>
        <li><i class="fa fa-phone"></i>178-0596-6552</li>
        <li><i class="fa fa-envelope-o"></i>17805966552@163.com</li>
    </ul>
</div>
<div class="title">
    <h2>与我有关</h2>
    <ul class="list_info">
        <li><i class="fa fa-github"></i><a target="_blank" href="https://github.com/oyxf1996">GitHub</a> </li>
        <li><i class="fa fa-pencil"></i><a target="_blank" href="https://www.yuque.com/fengzhihen">语雀</a> </li>
    </ul>
</div>
<div class="title">
    <h2>教育背景</h2>
    <table border="1" class="tb_1">
        <tr>
            <th>时间</th>
            <th>学校</th>
            <th>专业</th>
        </tr>
        <tr>
            <td><span>2014.9-2018.6</span></td>
            <td>福建农林大学</td>
            <td>计算机科学与技术</td>
        </tr>
    </table>
</div>
<div class="title">
    <h2>工作经历</h2>
    <div style="width:100%;padding-left:8px;">
        <ul class="list_order">
            <li>
                <i class="fa fa-circle"></i>
                <table border="1" class="tb_2"><tr><td>2017.7-2018.9</td><td>福建弘扬软件股份有限公司</td><td>.net开发工程师</td></tr></table>
                <p>从事HIS系统的维护和二次开发，两次出差医院现场配合实施人员做系统上线验收。熟悉VisualStudio的tfs团队开发模式，熟悉asp.net和asp.net mvc</p>
                <p class="pBlock"></p>
            </li>
            <li>
                <i class="fa fa-circle"></i>
                <table border="1" class="tb_2"><tr><td colspan="3" class="blueFont">期待与你相遇。</td></tr></table>
            </li>
        </ul>
    </div>
</div>
