
@{
    ViewBag.Title = "我的项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="programs">
    <li><a href="http://106.15.178.209:81" target="_blank" ><img src="~/images/ebms.png" /><p>企业网站</p></a></li>
    <li><a href="http://106.15.178.209:82" target="_blank"><img src="~/images/ebmsback.png" /><p>企业网站(后台)</p></a></li>
</ul>