<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--
    【数据库连接字符串】
	（1）DataSource：指定要连接到的数据服务器名称。书写格式一般为“数据服务器名/实例名”。
         DataSource也可以用Server，Address，Addr来代替。如果数据库服务器在本地，该项可以直接写“.”或者“（local）”两者都不包括引号。
         如果本地安装了多个数据库实例，直接写“.”或者“（local）”会自动连接到较高版本的实例。
         本地非EXPRESS版数据库服务器地址于数据库实例名称相同，可以直接写数据库服务器名称；
         本地Express版本的数据库实例名一般默认为“计算机名+/SQLEXPRESS”如“XL-PC/SQLEXPRESS”或“(local)/SQLEXPRESS”或“./SQLEXPRESS”；
         如果连接的是远程服务器则格式为“IP地址+/实例名”。
         Data和Source之间必须有且只有一个空格。除密码外不区分大小写。所有标点符号都是英文标点。
	（2）Initial Catalog：指定要连接的数据库名称。
          数据规范与DataSource相同，也可以用Database代替。
	（3）UID为用户名，PWD为密码，两者分别可以用Userid和Password代替。
	（4）Integrated Security：属性设为true表示采用Windows身份验证，不需要指定用户名与密码。
  -->
  <connectionStrings>
    <!--SqlServer-->
    <!--<add name="connStr" connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
    <add name="connStr" connectionString="Data Source=.;Initial Catalog=TestDB;uid=sa;pwd=xiaofeng;" providerName="System.Data.SqlClient"/>

    <!--MySql-->
    <!--<add name="connStr" connectionString="server=localhost;User Id=root;password=xiaofeng;Database=kyxmdb;" providerName="MySql.Data.MySqlClient"/>-->

    <!--Oracle-->
    <!--<add name="connStr" connectionString="User Id=USERYFXFY180623;Password=yfxfy;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.100.22)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=crds3db)));" providerName="System.Data.OracleClient" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
